{# HTML5 declaration #}
{% load staticfiles %}
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="{% static 'css/ranking_application.css' %}">
        <script type="text/javascript" src="{% static 'js/ranking_application.js' %}"></script>

        <style>
  </style>
    </head>

<body>

{% if user.is_authenticated %}
    {% block navigation %}
        <nav class="navbar border-bottom mb-2 navbar-expand-md navbar-light bg-light">
            {% if user.app_user.get_role == 'PM' %}
            {% include "navigation/navigation_pm.html" %}
            {% else %}
            {% include "navigation/navigation_other.html" %}
            {% endif %}
            <ul class="nav navbar-nav navbar-right">
                {% if request.session.active_project %}
                 <li class="nav-item project-indicator">
                    <a href="{% url 'projects' %}" class="nav-link"> {{request.session.active_project}}</a>
                    </li>
                {% endif %}
                <li class="nav-item logout">
                    <a href="{% url 'logout' %}" class="nav-link"> Logout</a>
                </li>


            </ul>
        </nav>
    {% endblock %}
{% endif %}
<!-- Modal -->

<div class="container-fluid ">
  <div class="row content">

      <div class="col-sm-10">
      <h3>{% block pagetitle %}{% endblock %}</h3>

        {% block content %}{% endblock %}
    </div>
  </div>
</div>

<footer class="container-fluid">
  <p>© Christian Born & Vasilis Gerogiannis</p>
</footer>
</body>
</html>