{% extends 'ranking_application/base.html' %}
{% load widget_tweaks %}

{% block title %}Edit project{% endblock title %}
{% url 'home' as url%}

{% block pagetitle %}Edit project{% endblock %}
{% block sidenav %}
      <div class="col-sm-2 sidenav">
      <h4>Subnavigation projects</h4>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="{% url 'projects_create' %}">Create new project</a></li>
      </ul><br>
    </div>
        {% endblock %}
{% block content %}
<form action="{% url 'edit_project' project_id %}" method="POST">{% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-group">
        {{ form.project_title.errors }}
        <label for="{{ form.project_title.id_for_label }}">Project title: </label>
        {% render_field form.project_title class="form-control" %}
    </div>
    <div class="form-group">
        {{ form.project_description.errors }}
        <label for="{{ form.project_description.id_for_label }}">Project description</label>
        {% render_field form.project_description class="form-control" rows="3" %}
    </div>
    <input type="submit" value="Save">
</form>
{% endblock content %}