{% extends 'ranking_application/base.html' %}
{% load widget_tweaks %}

{% block title %}Create new requirement{% endblock title %}
{% url 'home' as url%}

{% block pagetitle %}Create new requirement{% endblock %}

{% block content %}
<form action="{% url 'requirements_create'  %}" method="POST">{% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-group">
        {{ form.requirement_title.errors }}
        <label for="{{ form.requirement_title.id_for_label }}">Requirement title: </label>
        {{ form.requirement_title | add_class:'form-control' | attr:"placeholder:Enter requirement title"}}
    </div>
    <div class="form-group">
        {{ form.requirement_description.errors }}
        <label for="{{ form.requirement_description.id_for_label }}">Requirement description: </label>
        {{ form.requirement_description | add_class:'form-control' | attr:"rows:3" | attr:"placeholder:Enter requirement description"}}
    </div>
    <input type="submit" value="Save">
</form>
{% endblock content %}
