{% extends 'ranking_application/base.html' %}
{% block title %}Requirements{% endblock title %}

{% block pagetitle %}Requirements{% endblock %}
{% block sidenav %}
      <div class="col-sm-2 sidenav">
      <h4>Subnavigation requirement</h4>
      <ul class="nav nav-pills nav-stacked">
          {% if user.app_user.get_role == 'PM' %}
          <li class=""><a href="{% url 'requirements_create' %}">Create new requirement</a></li>
          {% endif %}
      </ul>
    </div>
{% endblock %}
{% block content %}
{% if messages %}
{% for message in messages %}
<p class="{{ message.tags }}">{{ message }}</p>
{% endfor %}

{% endif %}
<p>This View shows all requirements for the current project</p>
<p>Your role: {{ user.app_user.get_role_display }}</p>
{% if project_requirements %}
<div class="col-sm-12 item-display">
    <div class="row col-sm-12">
    {% for requirement in project_requirements %}

    <div class="col col-sm-3 jumbotron single-item">
            <small>Req.-ID: {{ requirement.id_in_project }}</small>
            <h3 class="display-5">{{ requirement }}</h3>
            <small>{{ requirement.description }}</small>
            <hr>
                {% if user.app_user.get_role == 'PM' %}
                <a class="btn btn-primary btn-sm" href="{% url 'edit_requirement' requirement.pk %}" role="button">Edit</a>
                <a class="btn btn-danger btn-sm" onclick="confirmation('{% url 'delete_requirement' requirement.pk %}')"
                   href="#" role="button">Delete</a>
                {% endif %}
    </div>
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row col-sm-12">
         {% endif %}
    {% endfor %}

    </div></div>
{% else %}
<strong>There are no requirements available in the current project.</strong>
{% endif %}
{% endblock content %}
